<div class="page-content d-flex align-items-stretch">
    <app-left-side-bar></app-left-side-bar>
    <div class="content-inner dashboardContent">

        <!-- ==============          Dashboard  page          =================  -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 title-bar justify-content-between d-flex align-items-center">
                    <h2 class="page-title"><img class="svg" src="../../../assets/Images/UNAITO/Icon/left-arrow.svg" />
                        User Management</h2>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">


                <div class="col-12  mt-4 d-flex justify-content-between">
                    <div class="search">
                        <input type="text" placeholder="Search" name="" [(ngModel)]="searchInput" >
                        <button type="button"><img src="../../../assets/Images/UNAITO/Icon/search.svg" (click)="searchFilter()" ></button>
                    </div>
                    <div class="icon-div d-flex justify-content-end">
                        <!-- <div class="">
                            <img src="../../../assets/Images/UNAITO/Icon/filter.svg" class="icon-div-img mr-2 rounded">
                        </div>
                        <div class="">
                            <img src="../../../assets/Images/UNAITO/Icon/list.svg"
                                class="icon-div-img rounded-left bg-white">

                        </div> -->
                        <div>
                            <img src="../../../assets/Images/UNAITO/Icon/Grid.svg"
                                class="icon-div-img mr-2 rounded-right bg-color">
                        </div>

                        <a routerLink="/newUser" class="btn btn-primary font-weight-normal">Create New</a>


                    </div>
                </div>
                <div class="card container-fluid zeropadding">


                    <app-user-list [search]="searchSubject.asObservable()"></app-user-list>


                </div>
            </div>
        </div>
    </div>

    <!-- ==============          Dashboard  page          =================  -->
</div>
