<div *ngIf=true>
    <div class="side-appbar side-appbar-open" id="helpTxtCnt" data-simplebar="init">
        <div class="container-fluid">
            <div class="profile-menu profile-menu-toppad">
                <div class="row notifyHeadPos">
                    <div class="col notifyHead h3 d-flex justify-content-between">
                        <div class="d-flex align-items-center h4"><span class="toggle-bar-close"
                                onclick="closeSidebar();"></span> Help</div>
                    </div>
                </div>
                <div class="d-flex mt-3">
                    <div class="notifyContent col">
                        <div class="form-group">
                            <input type="text" class="form-control search-input" placeholder="Search">
                        </div>
                        <h1 class="h6 openSansBold">How to create a user?</h1>
                        <p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                        <p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ev</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>