.center {
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    border: 1px solid green;
    width: auto;
    height: auto;
  }