<div class="page-content d-flex align-items-stretch">
    <nav class="side-navbar" data-simplebar>
        <ul class="nav-menu list-unstyled">
            <li class="nav-item nav-item-first">
                <a href="dashboard.html" class="nav-link " title="Dashboard">
                    <img class="svg" src="../assets/Images/UNAITO/sidenav/dashboard.svg" />
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="projectlist.html" class="nav-link active" title="Projects">
                    <img class="svg" src="../assets/Images/UNAITO/sidenav/projects.svg" />
                    <span class="nav-text">Projects</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="dashboard.html" class="nav-link" title="Administration">
                    <img class="svg" src="../assets/Images/UNAITO/sidenav/administration.svg" />
                    <span class="nav-text">Administration</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="content-inner dashboardContent">

        <!-- ==============          Dashboard  page          =================  -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 title-bar justify-content-between d-flex align-items-center">
                    <h2 class="page-title"><img class="svg" src="../assets/Images/UNAITO/Icon/left-arrow.svg" /> Dashboard</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="card container-fluid">
                    <h2 class="cardTitle">Current Projects</h2>
                    <div class="row">
                        <div class="container-fluid d-flex">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 colPad">
                                <div class="card subCard">
                                    <h3 class="cardSubTitle">Avantor - Cloud Readiness Assessment</h3>
                                    <!-- <div class="prjStatus online"> On Track</div> -->
                                    <div class="prjPeriod"><img src="../assets/Images/UNAITO/Icon/calendar.svg" />4 Weeks (27 Jan
                                        ’22 to 24 Feb ’22)</div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 colPad">
                                <div class="card subCard">
                                    <h3 class="cardSubTitle">Avantor - Cloud Readiness Assessment</h3>
                                    <!-- <div class="prjStatus offline"> On Track</div> -->
                                    <div class="prjPeriod"><img src="../assets/Images/UNAITO/Icon/calendar.svg" />4 Weeks (27 Jan
                                        ’22 to 24 Feb ’22)</div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 colPad">
                                <div class="card subCard">
                                    <h3 class="cardSubTitle">Avantor - Cloud Readiness Assessment</h3>
                                    <!-- <div class="prjStatus atRisk"> On Track</div> -->
                                    <div class="prjPeriod"><img src="../assets/Images/UNAITO/Icon/calendar.svg" />4 Weeks (27 Jan
                                        ’22 to 24 Feb ’22)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid dashboardContentContain" style="display: none;">

            <div class="row justify-content-between d-flex align-items-center">
                <div class="col col-5 col-sm-2 col-lg-2">
                    <div class="form-group">
                        <label>Fiscal Year</label>
                        <select class="form-control custom-select">
                            <option value="0">2019</option>
                            <option value="0">2018</option>
                            <option value="0">2017</option>
                            <option value="0">2016</option>
                        </select>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-lg-7 d-flex justify-content-lg-center justify-content-sm-end">
                    <ul class="list-unstyled dashboardNav">
                        <li><a href="#">Q1</a></li>
                        <li class="active"><a href="#">Q2</a></li>
                        <li><a href="#">Q3</a></li>
                        <li><a href="#">Q4</a></li>
                    </ul>
                </div>
                <div class="col col-7 col-sm-4 col-lg-3">
                    <label class="customLabel text-uppercase justify-content-end">MAY 17 2018 - JAN 17 2019</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group-contain">
                        <h3 class="section-title">Break Even Graph</h3>
                        <div style="min-height: 200px;">Placeholder for graph.....</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group-contain">
                        <h3 class="section-title">Balance Sheet</h3>
                        <div style="min-height: 200px;">Placeholder for graph.....</div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 despl-0">
                    <div class="form-group-contain">
                        <h3 class="section-title">Matrix Item Comparison</h3>
                        <div style="min-height: 200px;">Placeholder for graph.....</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group-contain">
                        <h3 class="section-title">Finance Performance</h3>
                        <div style="min-height: 200px;">Placeholder for graph.....</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 despl-0">
                    <div class="form-group-contain">
                        <h3 class="section-title">Return On Equity Graph</h3>
                        <div style="min-height: 200px;">Placeholder for graph.....</div>
                    </div>
                </div>
            </div>
        </div>


        <!-- ==============          Dashboard  page          =================  -->
    </div>
</div>
