/* .signin_wrapper {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: var(--white);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    color: #8798ad;
}

.loginBanner {
    height: 100vh;
    background: linear-gradient(49.78deg, #1075D9 0%, #0485F5 100%);
    background-image: url(../../../assets/Images/UNAITO/login/login_bg.png);
    background-position: center;
   
    color: var(--white);
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 28px;

    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.signin_wrapper .form-group {
    margin-bottom: 3rem;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
    height: 100%;
    background: var(--white);
    padding-top: 10%;
    padding-bottom: 40px;
}

.form-signin h1 {
    text-transform: capitalize;
    font-size: 24px;
    color: var(--black1);
    font-family: var(--robotoBold);
    letter-spacing: 0;
    line-height: 28px;
}
@media screen and (max-width: 440px) {
    .form-signin {
        max-width: 90%
    }
} */