<table class="table">
    <thead class="thead-light">
        <tr>
            <th>SL.NO</th>
            <th>CUSTOMER NAME</th>
            <th>LOCATION</th>
            <th>SPOC NAME</th>
            <th>EMAIL</th>
            <th>CONTACT NO</th>
            <th>LAST UPDATED ON</th>

        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="customerListTable.length>0; then thenCondition else elseCondition"></ng-container>
        <ng-template #thenCondition>
            <tr class="clickable" *ngFor="let item of customerListTable | filter:searchString">
                <!-- https://www.positronx.io/build-dynamic-html-table-in-angular-with-ngfor/ 
                [routerLink]="['/projectdetailsDashboard/', item.SL_NO]"
            -->

                <td>{{item.customerId}}</td>
                <td>{{item.customerName}}</td>
                <td>{{item.location}}</td>
                <td>{{item.spocFirstName}}</td>
                <td>{{item.emailId}}</td>
                <td>{{item.contactNumber}}</td>
                <td>{{item.isActive}}</td>

            </tr>
        </ng-template>
        <ng-template #elseCondition>
            No Customers Added For Display
        </ng-template>
    </tbody>
</table>