<!-- *ngIf="isLoggedIn$ | async" -->

<div *ngIf="isLoggedIn$ | async" >
    <header class="header">
        <nav class="top-navbar fixed-top d-flex w-100">
            <div class="container-fluid">
                <div class="navbar-holder w-100 d-flex align-items-center justify-content-between">
                    <div class="navbar-header d-flex align-items-center">
                        <div class="toggle-wrap">
                            <span class="toggle-bar-icon"></span>
                        </div>
                        <img class="app_logo d-none d-sm-block" src="../assets/Images/UNAITO/Header/logo.svg">
                        <img class="d-block d-sm-none" src="../assets/Images/UNAITO/Header/logo.svg">
                        <p class="line-2-1 spl-opacity"></p>
                        <p class=" assessment">Assessment</p>
                    </div>
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">

                        <li class="nav-item assoc-app-btn1 expose" id="helpTxt">
                            <a (click)="toggleSearch()" class="nav-link"><img src="../assets/Images/UNAITO/Header/search.svg"></a>
                        </li>

                        <li class="nav-item assoc-app-btn1 expose" id="notifyTxt">
                            <a (click)="toggleNotification()" class="nav-link">
                                <img src="../assets/Images/UNAITO/Header/notification.svg">
                                <span class="badge badge-light">9</span>
                            </a>
                        </li>

                        <li class="nav-item assoc-app-btn1 expose" id="appListTxt">
                            <a (click)="toggleAppList()"  class="nav-link"><img
                                    src="../assets/Images/UNAITO/Header/applicationlist.svg"></a>
                        </li>

                        <li class="nav-item assoc-app-btn1 dropdown usr-prof" id="aboutTxt">
                            <a (click)="toggleMenu()"  class="nav-link dropdown-toggle expose">
                                <!-- <span>Warren Haynes <br> <small>Zinc Corporation Ltd.,</small></span> -->
                                <img src="../assets/Images/UNAITO/Header/profile.svg">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
