<div class="signin_wrapper">
    <div class="col">
        <div class="form-signin">
            <div class="form-group lang mb-5 text-center">
                <label><img class="svg" src="../../../assets/Images/UNAITO/login/login_logo.svg" alt="Logo" /></label>
            </div>
            <h1 class="mb-5">Please Change Your Password</h1>
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Email</label>
                    <input type="text" class="form-control spl-width" formControlName="email" placeholder="Enter email address">
                    <div *ngIf="(changePasswordForm.get('email').touched || changePasswordForm.get('email').dirty) && changePasswordForm.get('email').errors" class="alert alert-danger">
                        <div *ngIf="changePasswordForm.get('email').errors.required">Email is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Password</label>
                    <input type="password" class="form-control spl-width" formControlName="password"  placeholder="Enter password">
                    <div *ngIf="(changePasswordForm.get('password').touched || changePasswordForm.get('password').dirty) && changePasswordForm.get('password').errors" class="alert alert-danger">
                        <div *ngIf="changePasswordForm.get('password').errors.required">Password is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Confirm Password</label>
                    <input type="password" class="form-control spl-width" formControlName="confirmPassword" placeholder="Enter confirm password">
                    <div *ngIf="(changePasswordForm.get('confirmPassword').touched || changePasswordForm.get('confirmPassword').dirty) && changePasswordForm.get('confirmPassword').errors" class="alert alert-danger">
                        <div *ngIf="changePasswordForm.get('confirmPassword').errors.required">Confirm Password is required
                        </div>

                        <div *ngIf="changePasswordForm.get('confirmPassword').errors.confirmPasswordValidator">Passsword and
                            Confirm Password didn't match. </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>

            </form>
        </div>
    </div>
    <div class="col loginBanner d-flex align-items-center"></div>
</div>