<div class="signin_wrapper">
    <div class="col">
        <div class="form-signin">
            <div class="form-group lang mb-5 text-center">
                <label><img class="svg" src="../../../assets/Images/UNAITO/login/login_logo.svg" alt="Logo" /></label>
            </div>
            <h1 class="mb-5">Please Change Your Password</h1>
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">


                <div class="form-group">
                    <label for="">Email Address
                    </label>
                    <input type="text" class="form-control spl-width" id="" placeholder="Enter email address"
                        formControlName="email">
                    <div *ngIf="(email.invalid && email.errors?.required )&& 
                                (email.dirty || email.touched)" class="alert alert-danger">

                        <div *ngIf="email.errors?.required">
                            Email is required.
                        </div>
                    </div>

                </div>



                <div class="form-group">
                    <div class="input-icon">
                        <input type="password" class="form-control" id="enterPassword" formControlName="password"
                            placeholder="Enter password" required>
                        <!-- <div *ngIf="isFieldInvalid('password')">
                                Please inform your password && (password.errors?.required || password.errors?.minlength || password.errors?.pattern ) )&& 
                            (password.dirty || password.touched)"
                            </div> -->
                        <div *ngIf="password.invalid && password.touched" class="alert alert-danger">

                            <div *ngIf="password.errors?.required">
                                Password is required.
                            </div>
                            <div *ngIf="password.errors?.minlength ">
                                Password Minimum length should be 8.
                            </div>
                            <div *ngIf="password.errors?.pattern ">
                                • At least 1 capital letter
                                • At least 1 digit
                                • At least 1 special character

                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="form-group">
                    <div class="input-icon">
                        <input type="password" class="form-control" id="enterConfirmPassword"
                            formControlName="confirmPassword" placeholder="Enter confirm password" required>
                        <!-- <div *ngIf="isFieldInvalid('password')">
                            Please inform your password && (password.errors?.required || password.errors?.minlength || password.errors?.pattern ) )&& 
                        (password.dirty || password.touched)"
                        </div> -->
                        <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="alert alert-danger">

                            <div *ngIf="confirmPassword.errors?.required">
                                Password is required.
                            </div>
                            <div *ngIf="confirmPassword.errors?.minlength ">
                                confirmPassword Minimum length should be 8.
                            </div>
                            <div *ngIf="confirmPassword.errors?.pattern ">
                                • At least 1 capital letter
                                • At least 1 digit
                                • At least 1 special character

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                </div>

            </form>
        </div>
    </div>
    <div class="col loginBanner d-flex align-items-center"></div>
</div>