<table class="table">
    <thead class="thead-light">
        <tr>
            <th>USER NAME</th>
            <th>FIRST NAME</th>
            <th>ROLE</th>
            <th>EMAIL</th>
            <th>CONTACT NO</th>
            <th>LAST UPDATED ON</th>
            <th style="text-align:center">ACTION</th>
        </tr>
    </thead>
    <tbody>

        <tr class="clickable" *ngFor="let item of customerListTable" [routerLink]="['/projectdetailsDashboard/', item.id]">
            <!-- https://www.positronx.io/build-dynamic-html-table-in-angular-with-ngfor/ -->
            
                <td>{{item.userName}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.roleName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.contactNumber}}</td>
                <td>{{item.location}}</td>
                <td>
                    <button  class="btn btn-danger  mr-1" type="button" (click)="onDeleteItem($event,item.id)" >
                    Delete</button>
                    
                    <button type="button" class="btn btn-primary" [routerLink]="['/editUser/', item.id]">Edit</button>
                
                
                </td>
                
           
        </tr>
        <!-- <tr>
            <td>avantor - cloud readlines Assessment</td>
            <td>avantor</td>

        </tr>
        <tr>
            <td>avantor - cloud readlines Assessment</td>
            <td>avantor</td>

        </tr> -->
    </tbody>
</table>
