<div class="page">
    <div class="page-content d-flex align-items-stretch">
        <app-left-side-bar></app-left-side-bar>
        <div class="content-inner dashboardContent">

            <!-- ==============          Dashboard  page          =================  -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 title-bar justify-content-between d-flex align-items-center">
                        <h2 class="page-title"> <img class="svg"
                                src="../../../assets/Images/UNAITO/Icon/left-arrow.svg" />Add
                            Application Layer
                        </h2>
                    </div>
                </div>
            </div>



            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="card col-md-7">
                        <div class="col-md-11">
                            <h6><b>Current Details</b></h6>
                            <form>
                                <div class="form-group mb-0">
                                    <label for="">Current Application Technology

                                    </label>
                                </div>
                                <div class="row col-md-12 mt-2 mb-2">

                                    <div class="form-check pl-0">
                                        <input class="form-check-input" type="radio" value="" id="defaultCheck10">
                                        <label class="form-check-label" for="defaultCheck10">
                                            Legacy
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="" id="defaultCheck11">
                                        <label class="form-check-label" for="defaultCheck11">
                                            Modern
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="">Technology Used</label>
                                    <input type="text" class="form-control custom-width" id=""
                                        placeholder="Enter technology used">

                                </div>
                                <div class="form-group">
                                    <label for="">Architecture</label>

                                    <select class="form-control custom-width" name="selectarchitecture" id="">
                                        <option value="SelectArch">Select Architecture</option>
                                        <option value="Monolith">Monolith</option>
                                        <option value="Microservices">Microservices</option>
                                        <option value="RestBased">Rest Based</option>
                                      
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="">Functionalities (Current Modules)</label>
                                    <textarea class="form-control custom-width" id="" rows="3"
                                        placeholder="Enter Functionalities of Current Modules"></textarea>

                                </div>
                                <h6><b>Future State</b></h6>
                                <div class="form-group mb-0">
                                    <label for="">Rearchitecture

                                    </label>
                                </div>
                                <div class="row col-md-12 mt-2 mb-2">

                                    <div class="form-check pl-0">
                                        <input class="form-check-input" type="radio" value="" id="defaultCheck10">
                                        <label class="form-check-label" for="defaultCheck10">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="" id="defaultCheck11">
                                        <label class="form-check-label" for="defaultCheck11">
                                            No
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <label for="">New Functionality(s)

                                    </label>
                                </div>
                                <div class="row col-md-12 mt-2 mb-2">

                                    <div class="form-check pl-0">
                                        <input class="form-check-input" type="radio" value="" id="defaultCheck2">
                                        <label class="form-check-label" for="defaultCheck2">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="" id="defaultCheck3">
                                        <label class="form-check-label" for="defaultCheck3">
                                            No
                                        </label>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary create-btn">Add</button>
                                <button type="submit" class="btn cancel-btn create-btn">Cancel</button>
                            </form>
                        </div>
                        <div class="col-md-1">

                        </div>

                    </div>
                </div>
            </div>
            <!-- ==============          Dashboard  page          =================  -->
        </div>
    </div>
</div>