<div class="dropdown">
    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dropdown   class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu"
    </button> -->
    <ul class=" list-unstyled">
        <li class="">
            <a href="" routerLink="/overview" class="nav-link active text" title="Dashboard">

                <span class="nav-text text">Overview</span>
            </a>
        </li>
        <li class="">
            <a href="team-onboarding.html" routerLink="/teamonboard" class="nav-link " title="Projects">

                <span class="nav-text text1">Team Onboarding </span>
            </a>
        </li>
        <li class="">
            <a href="assessment-project-plan.html" routerLink="/assessmentprojectplan" class="nav-link "
                title="Administration">

                <span class="nav-text text1">Assessment Project Plan </span>
            </a>
        </li>
        <!-- <li class="d-none">
            <a href="" class="nav-link " title="Administration">
    
                <span class="nav-text text1">Information Gathering
                </span>
            </a>
        </li> -->
        <!-- first Part -->
        <!-- <li class="dropdown-divider" tabindex="-1"></li> -->
    
        <li class="dropdown-submenu">
            <a class="dropdown-item nav-link nav-text text1"   >Information Gathering</a>
            <ul class="dropdown-menu">
                <li class="dropdown-item"> <a class="dropdown-item nav-link nav-text text1" routerLink="/addAppOverview">General</a>
                </li>
                <li class="dropdown-submenu dropdown-item">
                    <a class="dropdown-item nav-link nav-text text1" >Infrastructure</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a routerLink="/server" class="dropdown-item nav-link nav-text text1" >Server</a></li>
                        <li class="dropdown-item"><a routerLink="/storage" class="dropdown-item nav-link nav-text text1" >Storage</a>
                        </li>


                    </ul>
                </li>
                <li class="dropdown-item"> <a class="dropdown-item nav-link nav-text text1" routerLink="/applicationLayer" >Application
                        Layer</a></li>
                <li class="dropdown-item"> <a class="dropdown-item nav-link nav-text text1" routerLink="/addIntegration"
                        >Integrations</a></li>
                <li class="dropdown-item"> <a class="dropdown-item nav-link nav-text text1" routerLink="/securityCompliance" >Security &
                        Compliance</a></li>

            </ul>
        </li>
        
        <li class="dropdown-submenu">
            <a class="dropdown-item nav-link nav-text text1"   >Information Validation</a>
            <ul class="dropdown-menu">
                <li class="dropdown-item"> <a class="dropdown-item"  routerLink="/addAppOverview">General</a>
                </li>
                <li class="dropdown-submenu">
                    <a class="dropdown-item" >Infrastructure</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a routerLink="/server" class="dropdown-item" >Server</a></li>
                        <li class="dropdown-item"><a routerLink="/storage" class="dropdown-item" >Storage</a>
                        </li>


                    </ul>
                </li>
                <li class="dropdown-item"> <a class="dropdown-item" routerLink="/applicationLayer" >Application
                        Layer</a></li>
                <li class="dropdown-item"> <a class="dropdown-item" routerLink="/addIntegration"
                        >Integrations</a></li>
                <li class="dropdown-item"> <a class="dropdown-item" routerLink="/securityCompliance" >Security &
                        Compliance</a></li>
                <li class="dropdown-item"> <a class="dropdown-item" routerLink="/informationValidation" >Approval</a></li>

            </ul>
        </li>
        <li class="">
            <a href="" class="nav-link " title="Administration">

                <span class="nav-text text2">Recommendation
                </span>
            </a>
        </li>
        <li class="">
            <a href="" class="nav-link " title="Administration">

                <span class="nav-text text2">Migration Plan
                </span>
            </a>
        </li>
    </ul>
</div>