<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Project name</th>
            <th>Customer name</th>

        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="projectListTable.length>0; then thenCondition else elseCondition"></ng-container>
        <ng-template #thenCondition>
        <tr class="clickable" *ngFor="let item of projectListTable | filter:searchString" [routerLink]="['/projectdetailsDashboard/', item.projectId]" >
            <!-- https://www.positronx.io/build-dynamic-html-table-in-angular-with-ngfor/
            [routerLink]="['/projectdetailsDashboard/', item.id]" -->
            
                <td>{{item.projectName}}</td>
                <td>{{item.customerName}}</td>
           
        </tr>
    </ng-template>
    <ng-template #elseCondition>
        No Projects Added For Display
    </ng-template>
    </tbody>
</table>


<!-- <table class="table">
	<span *ngFor="let row of tableMockData; let i = index">
      <thead>
         <th class="col">{{row.header}}</th>
      </thead>
      <tr *ngFor="let rowdata of row.rows;">
          <td class="col">{{rowdata}}</td>
      </tr>
   </span>
</table> -->