<div *ngIf=true class="side-appbar side-appbar-open" id="notifyTxtCnt" data-simplebar="init">
    <div class="container-fluid">
        <div class="profile-menu profile-menu-toppad ">
            <div class="row notifyHeadPos">
                <div class="col notifyHead h3 d-flex justify-content-between">
                    <div class="d-flex align-items-center h4"><span class="toggle-bar-close"
                            onclick="closeSidebar();"></span> Notification</div>
                    <div class="d-flex align-items-center h4"><a href="#" class="text-right">more</a></div>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="col-3 col-sm-2 col-lg-2">
                    <div class="col"><img src="../../../assets/Images/profile.png" alt="profile-image"
                            class="notifyProfile" /></div>
                </div>
                <div class="notifyContent pl-3 col">
                    <h1 class="h6 openSansBold">James Smith</h1>
                    <p class="text-muted">August 18, 2018 | 04:12 PM</p>
                    <p>Hey let's catch up soon. Do you want to grap lunch sometime this weekend? Let me know when you're
                        free!</p>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="col-3 col-sm-2 col-lg-2">
                    <div class="col"><img src="../../../assets/Images/profile.png" alt="profile-image"
                            class="notifyProfile" /></div>
                </div>
                <div class="notifyContent col">
                    <h1 class="h6 openSansBold">James Smith</h1>
                    <p class="text-muted">August 18, 2018 | 04:12 PM</p>
                    <p>Hey let's catch up soon. Do you want to grap lunch sometime this weekend? Let me know when you're
                        free!</p>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="col-3 col-sm-2 col-lg-2">
                    <div class="col"><img src="../../../assets/Images/profile.png" alt="profile-image"
                            class="notifyProfile" /></div>
                </div>
                <div class="notifyContent col">
                    <h1 class="h6 openSansBold">James Smith</h1>
                    <p class="text-muted">August 18, 2018 | 04:12 PM</p>
                    <p>Hey let's catch up soon. Do you want to grap lunch sometime this weekend? Let me know when you're
                        free!</p>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="col-3 col-sm-2 col-lg-2">
                    <div class="col"><img src="../../../assets/Images/profile.png" alt="profile-image"
                            class="notifyProfile" /></div>
                </div>
                <div class="notifyContent col">
                    <h1 class="h6 openSansBold">James Smith</h1>
                    <p class="text-muted">August 18, 2018 | 04:12 PM</p>
                    <p>Hey let's catch up soon. Do you want to grap lunch sometime this weekend? Let me know when you're
                        free!</p>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="col-3 col-sm-2 col-lg-2">
                    <div class="col"><img src="../../../assets/Images/profile.png" alt="profile-image"
                            class="notifyProfile" /></div>
                </div>
                <div class="notifyContent col">
                    <h1 class="h6 openSansBold">James Smith</h1>
                    <p class="text-muted">August 18, 2018 | 04:12 PM</p>
                    <p>Hey let's catch up soon. Do you want to grap lunch sometime this weekend? Let me know when you're
                        free!</p>
                </div>
            </div>
        </div>
    </div>
</div>