.rows {
    display: flex;
    align-items: center;
  }
  
  .circles{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #eee;
    border : 2px solid #fff;
    text-align: center;
    line-height: 50px;
    color: blue;
    
  }
  .rows .circles:not(:first-child) {
  margin-left: -18px;
  }
  .rows .circles:nth-child(n+5){
     display: none;
    }

 #notifyTxt,#appListTxt,#aboutTxt{
      cursor: pointer;
    }

 