<app-header (menuState)='menuClicked($event)' (appListState)="appListClicked($event)" (notificationState)="notificationClicked($event)" (searchState)="searchClicked($event)">

</app-header>

<div class="container-fluid">
    <div class="row">
        <div class="col" >
            <router-outlet></router-outlet>
            
        </div>
    

    <div class="col-m-4  " id="sidebar">
        <app-sidebar class="" [subMenuState]="subMenuState" [appListState]="appListState" [notificationState]="notificationState" [searchState]="searchState"></app-sidebar>
    </div>
</div>

</div>