
<div *ngIf="showMenu" class="side-appbar side-appbar-open" id="aboutTxtCnt" data-simplebar="init">
    <div class="container-fluid">
        <div class="profile-menu">
            <span class="menuLink">Change Company</span>
            <a class="dropdown-item active" href="#">Zinc Corporation Ltd.,</a>
            <a class="dropdown-item" href="#">dambase</a>
            <a class="dropdown-item" href="#">plussunin</a>
            <a class="dropdown-item" href="#">J-Texon</a>
            <a class="dropdown-item menu-link text-right" href="#">more...</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item menu-link" href="#">My Profile</a>
            <a class="dropdown-item menu-link" href="#">Company Profile</a>
            <a class="dropdown-item menu-link" href="#">Change Password</a>
            <a class="dropdown-item menu-link"  routerLink="/logout">Logout</a>
        </div>
    </div>
</div>

<!-- <div id="page_overlay"></div> -->

