<div class="page">

    <div class="page-content d-flex align-items-stretch">
        <app-left-side-bar></app-left-side-bar>
        <div class="content-inner dashboardContent">

            <!-- ==============          Dashboard  page          =================  -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 title-bar justify-content-between d-flex align-items-center">
                        <h2 class="page-title"><img class="svg"
                                src="../../../assets/Images/UNAITO/Icon/left-arrow.svg" />
                            <p class="spl-header">Projects<b class="slash">/</b> </p> Avantor-Cloud Readiness Assessment
                        </h2>
                        <img class="svg" src="../../../assets/Images/UNAITO/Icon/more.svg" />
                    </div>
                </div>
            </div>



            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-2 assessment-sidebar zeropadding">

                        <!-- ==============         Project details left menu       =================  -->
                        <app-project-details-left-menu></app-project-details-left-menu>

                    </div>
                    <div class="col-lg-10 zeropadding">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="overview-heading">Team Onboarding

                            </p>

                        </div>

                        <div class="card spl-card">
                            <div class="header-class mb-0">
                                <h5 class="sample-text">Team Members

                                </h5>

                            </div>
                            <!-- <form [formGroup]="gaugeTitleForm" (ngSubmit)="onSubmit()">   -->
                            <form autocomplete="off" [formGroup]="addTeamMeberForm" (ngSubmit)="onSave()"  >
                                <table style="width:100%">
                                    <thead>
                                        <tr>
                                            <td>Name</td>
                                            <td>Role</td>
                                            <td>Email</td>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="addTeamMebers">

                                        <tr *ngFor="let p of addTeamMebers.controls; let i = index" [formGroupName]="i">
                                            <td><input type="text" formControlName="name" >
                                                <span *ngIf="p.get('name').touched ||  p.get('name').dirty">
                                                    <span class="alert alert-danger"
                                                        *ngIf="p.get('name')?.errors?.required">
                                                        Name is required
                                                    </span>
                                                </span>
                                            </td>
                                            <td><input type="text" formControlName="role" >
                                                <span *ngIf="p.get('role').touched ||  p.get('role').dirty">
                                                    <span class="alert alert-danger"
                                                        *ngIf="p.get('role')?.errors?.required">
                                                        Role is required
                                                    </span>
                                                </span>
                                            </td>
                                            <td><input type="email" formControlName="email" >
                                                <span *ngIf="p.get('email').touched ||  p.get('email').dirty">
                                                    <span class="alert alert-danger"
                                                        *ngIf="p.get('email')?.errors?.required">
                                                        Email is required
                                                    </span>
                                                </span>
                                            </td>
                                            <td><button class="btn btn-danger mr-2 " type="button" (click)="onDeleteItem(i)" >
                                                Delete
                                            </button>
                                            <button   class="btn btn-primary mr-2 "    type="button"  (click)="onEditOne(p, i)">
                                                   {{canEdit===i? buttonText : defautltButtonText}}
                                               
                                            </button>
                                           
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                
                                <div class="row">
                                    <div class="col-12 col-md-12 btn-row">
                                                                          
                                      <button type="button" class="btn btn-primary btn-sm float-right mt-2" (click)="addItem()">Add Members</button>
                                    </div>
                                  </div>


                                  <hr>
                                <div class="text-center">
                                    <button *ngIf="showSubmitButton" class="btn btn-primary" type="submit">Save New Members</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>