<div class="page">

    <div class="page-content d-flex align-items-stretch">
        <app-left-side-bar></app-left-side-bar>
        <div class="content-inner dashboardContent">

            <!-- ==============          Dashboard  page          =================  -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 title-bar justify-content-between d-flex align-items-center">
                        <h2 class="page-title"><img class="svg"
                                src="../../../assets/Images/UNAITO/Icon/left-arrow.svg" />
                            <p class="spl-header">Projects<b class="slash">/</b> </p> Avantor-Cloud Readiness Assessment
                        </h2>
                        <img class="svg" src="../../../assets/Images/UNAITO/Icon/more.svg" />
                    </div>
                </div>
            </div>



            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-2 assessment-sidebar zeropadding">

                        <!-- ==============         Project details left menu       =================  -->
                        <app-project-details-left-menu></app-project-details-left-menu>

                    </div>
                    <div class="col-lg-10 zeropadding">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="overview-heading">Team Onboarding

                            </p>

                        </div>

                        <div class="card spl-card">
                            <div class="header-class mb-0">
                                <h5 class="sample-text">Team Members

                                </h5>

                            </div>
                            <!-- <form [formGroup]="gaugeTitleForm" (ngSubmit)="onSubmit()">   -->

                            <table class="table table-bordered table-hover table-responsive" style="width:100%" *ngIf="memberListTable?.length>0">
                                <thead>
                                    <tr>
                                        <td class="ml-3">Name</td>
                                        <td>Role</td>
                                        <td>Email</td>
                                        <td>Delete</td>
                                        <td>Edit</td>
                                        <td>Save</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="clickable" *ngFor="let item of memberListTable" >
                                        <!-- https://www.positronx.io/build-dynamic-html-table-in-angular-with-ngfor/ -->
                                        
                                            <td class="ml-3">{{item.memberName}}</td>
                                            <td>{{item.roleId}}</td>
                                            <td>{{item.email}}</td>
                                            
                                            <td>
                                                <button  class="btn btn-danger  mr-1" type="button"  >
                                                Delete</button>
                                                     
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm" >Edit</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm" >Save</button>
                                            </td>
                                            
                                       
                                    </tr>
                                   
                                </tbody>
                            </table>



                            <form *ngIf="ShowInputBox" autocomplete="off" [formGroup]="addTeamMeberForm"
                                (ngSubmit)="onSave()">
                                <div class="row col-md-12 zeropadding">
                                    <div class="col-md-3 ml-3 mt-3">
                                        <div class="form-group">
                                            <label for="">Name
                                            </label>
                                            <input type="text" class="form-control " id="" #inputBox11 value=""
                                                formControlName="memberName">
                                            <div *ngIf="(memberName.invalid && memberName.errors?.required )&& 
                                                (memberName.dirty || memberName.touched)" class="alert alert-danger">

                                                <div *ngIf="memberName.errors?.required">
                                                    memberName is required.
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3  mt-3">
                                        <div class="form-group">
                                            <label for="">Role
                                            </label>
                                            <input type="text" class="form-control " id="" #inputBox12 value=""
                                                formControlName="roleId">
                                                <div *ngIf="(roleId.invalid && roleId.errors?.required )&& 
                                                (roleId.dirty || roleId.touched)" class="alert alert-danger">

                                                <div *ngIf="roleId.errors?.required">
                                                    Role ID is required.
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-3 mt-3">
                                        <div class="form-group">
                                            <label for="">Mail
                                            </label>
                                            <input type="text" class="form-control " id="" #inputBox13 value=""
                                                formControlName="email">
                                                <div *ngIf="(email.invalid && email.errors?.required )&& 
                                                (email.dirty || email.touched)" class="alert alert-danger">

                                                <div *ngIf="email.errors?.required">
                                                    email is required.
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <hr>
                                <div class="text-center">
                                    <button class="btn btn-primary" type="submit">Save New
                                        Members</button>
                                </div>
                            </form>
                            <div class="form-group">
                                <button *ngIf="!ShowInputBox" type="submit" class="btn btn-primary ml-3 mt-3"(click)="addItem()">Add
                                    Members</button>
                                <button *ngIf="ShowInputBox" (click)="cancelItem()" class="btn cancel-btn float-right">Cancel</button>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>