<div class="page-content d-flex align-items-stretch">
    <app-left-side-bar></app-left-side-bar>
    <div class="content-inner dashboardContent">

        <!-- ==============          Dashboard  page          =================  -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 title-bar justify-content-between d-flex align-items-center">
                    <h2 class="page-title"><img class="svg" src="../../../assets/Images/UNAITO/Icon/left-arrow.svg" />
                        Create New
                        Project</h2>
                </div>
            </div>
        </div>



        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="card col-md-7">
                    <div class="col-md-10">
                        <form>
                            <div class="form-group ">
                                <div>
                                    <label for="">Customer Name</label>
                                    <input type="text" class="form-control spl-width" id=""
                                        placeholder="Enter Customer Name" autocomplete="on">
                                </div>
                                <div class="create-new-btn">
                                    <button type="submit" class="btn create-new font-weight-normal">
                                        <img src="../../../assets/Images/UNAITO/Icon/add.svg">Create New</button>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="">Project name</label>
                                <input type="text" class="form-control " id="" placeholder="Enter Project Name">
                                <small id="emailHelp" class="form-text  hint-text"><img
                                        src="../../../assets/Images/UNAITO/Icon/info.svg" class="info-icon">Project name
                                    must be in the
                                    format of "customer name-brief project description”
                                    (e.g. Healthland-Cloud Readiness Assessment)</small>

                            </div>
                            <div class="form-group">
                                <label for="">Descrption</label>
                                <textarea class="form-control" id="" rows="3"
                                    placeholder="Enter a short description"></textarea>
                                <small id="emailHelp" class="form-text  hint-text"> <img
                                        src="../../../assets/Images/UNAITO/Icon/info.svg" class="info-icon">Add
                                    background, high-level
                                    objective of the project.</small>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="">Start date</label>
                                    <input type="date" class="form-control " id="" placeholder="Start date">
                                </div>
                                <div class="col form-group">
                                    <label for="">End date</label>
                                    <input type="date" class="form-control " id="" placeholder="End date">
                                </div> 
                                <div class="col form-group">
                                    <label for="">duration</label>
                                    <input type="text" class="form-control " id="">
                                </div>
                            </div> 

                             <a href="avantorCloudReadinessAssessment.html" class="btn btn-primary create-btn">Create</a>
                            <button type="submit" class="btn cancel-btn create-btn">Cancel</button>
                        </form>
                       

                       
                    </div>
                    <div class="col-md-2">

                    </div>

                </div>
            </div>
        </div>
        <!-- ==============          Dashboard  page          =================  -->
    </div>
</div>