<div class="page">


    <div class="page-content d-flex align-items-stretch">
        <app-left-side-bar></app-left-side-bar>
        <div class="content-inner dashboardContent">

            <!-- ==============          Dashboard  page          =================  -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 title-bar justify-content-between d-flex align-items-center">
                        <h2 class="page-title"> Administration
                        </h2>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class=" container-fluid pt-4 mt-4">

                        <div class="container-fluid d-flex mt-4 pt-2">

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 colPad">
                                <a routerLink="/customerListTable">
                                    <div class="welcomeCard subCard app-img">

                                        <img src="../../../assets/Images/UNAITO/Icon/Project Plan.svg" />
                                        <h3 class="pageDesc mt-4">Customer Management</h3>
                                        <p class="pageDesc mt-4">Create and Manage Customers
                                        <p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 colPad">
                                <a routerLink="/userListTable">
                                    <div class="welcomeCardSpl subCard app-img">
                                        <img src="../../../assets/Images/UNAITO/Icon/Upload.svg" />
                                        <h3 class="pageDesc mt-4">User Management</h3>
                                        <p class="pageDesc mt-4">Create and Manage Users
                                        <p>
                                    </div>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>