<div class="page">


    <div class="page-content d-flex align-items-stretch">
        <app-left-side-bar></app-left-side-bar>
        <div class="content-inner dashboardContent">

            <!-- ==============          Dashboard  page          =================  -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 title-bar justify-content-between d-flex align-items-center">
                        <h2 class="page-title"> Administration
                        </h2>
                    </div>
                </div>
            </div>



            <!-- <div class="container-fluid">
                <div class="row d-flex ">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 colPad">
                        <a routerLink="/dashboard">
                            <div class="welcomeCard subCard app-img">
                                <img src="../../../assets/Images/UNAITO/Icon/Project Plan.svg" />
                                <h3 class="card-body">Customer Management</h3>
                                <p class="card-body">Create and Manage Customers
                                <p>
                            </div>
                        </a>
                    </div>
                    <div class="col col-md-3">
                        <a routerLink="/dashboard">
                            <div class="welcomeCard subCard app-img">
                                <img src="../../../assets/Images/UNAITO/Icon/Project Plan.svg" />
                                <h3 class="card-body">User Management</h3>
                                <p class="card-body">Create and Manage Users
                                <p>

                            </div>
                        </a>

                    </div>

                </div>
            </div> -->

            <div class="row">
                <div class=" container-fluid d-flex  pt-4 mt-4">
                    <!-- <div class="row"col-xs-12 col-sm-4 col-lg-4> -->
                        <!-- <div class="container-fluid mt-4 pt-2"> -->
   <!-- Refer Application Component XML -->
                            <div class=" col-md-4  colPad" >
                                <a routerLink="/dashboard">
                                    <div class=" card app-img">

                                        <img src="../../../assets/Images/UNAITO/Icon/Project Plan.svg" />
                                        <h3 class="card-body">Customer Management</h3>
                                <p class="card-body">Create and Manage Customers
                                <p>
                                    </div>
                                </a>
                            </div>
                           
                            <div class="col-md-4 colPad" >
                                <a routerLink="/dashboard">
                                <div class="card app-img">
                                    <img src="../../../assets/Images/UNAITO/Icon/Application.svg" />
                                    <h3 class="card-body">User Management</h3>
                                <p class="card-body">Create and Manage Users
                                <p>
                                </div>
                            </a>
                            </div>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>