<div class="page-content d-flex align-items-stretch">


    <!-- ==============          Dashboard  page          =================  -->

    <div class="container-fluid">
        <div class="row">
            <div class=" container-fluid pt-4 mt-4">
                <h2 class="pageSubTitle text-center mt-4">Welcome to UNAITO,</h2>
                <p class="text-center pageDesc">Click below to access the required applications</p>
                <div class="row">
                    <div class="container-fluid d-flex mt-4 pt-2">

                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 colPad">
                            <a routerLink="/dashboard">
                                <div class="welcomeCard subCard app-img">

                                    <img src="../../../assets/Images/UNAITO/Icon/Project Plan.svg" />
                                    <p class="pageDesc mt-4">Assessment</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 colPad">
                            <div class="welcomeCardSpl subCard app-img">
                                <img src="../../../assets/Images/UNAITO/Icon/Upload.svg" />
                                <p class="pageDesc mt-4">Migration</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 colPad">
                            <div class="welcomeCardSpl subCard app-img">
                                <img src="../../../assets/Images/UNAITO/Icon/Application.svg" />
                                <p class="pageDesc mt-4">Operation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!-- ==============          Dashboard  page          =================  -->

</div>


<!-- <div class="side-appbar" id="helpTxtCnt" data-simplebar>
    <div class="container-fluid">
        <div class="profile-menu profile-menu-toppad">
            <div class="row notifyHeadPos">
                <div class="col notifyHead h3 d-flex justify-content-between">
                    <div class="d-flex align-items-center h4"><span class="toggle-bar-close"
                            onclick="closeSidebar();"></span> Help</div>
                </div>
            </div>
            <div class="d-flex mt-3">
                <div class="notifyContent col">
                    <div class="form-group">
                        <input type="text" class="form-control search-input" placeholder="Search">
                    </div>
                    <h1 class="h6 openSansBold">How to create a user?</h1>
                    <p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                    <p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ev</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="side-appbar" id="notifyTxtCnt" data-simplebar>
    <div class="container-fluid">
        <div class="profile-menu profile-menu-toppad ">
            <div class="row notifyHeadPos">
                <div class="col notifyHead h3 d-flex justify-content-between">
                    <div class="d-flex align-items-center h4"><span class="toggle-bar-close"
                            onclick="closeSidebar();"></span> Notification</div>
                    <div class="d-flex align-items-center h4"><a href="#" class="text-right">more</a></div>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="col-3 col-sm-2 col-lg-2">
                    <div class="col"><img src="../../../assets/Images/profile.png" alt="profile-image"
                            class="notifyProfile" /></div>
                </div>
                <div class="notifyContent pl-3 col">
                    <h1 class="h6 openSansBold">James Smith</h1>
                    <p class="text-muted">August 18, 2018 | 04:12 PM</p>
                    <p>Hey let's catch up soon. Do you want to grap lunch sometime this weekend? Let me know when you're
                        free!</p>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="col-3 col-sm-2 col-lg-2">
                    <div class="col"><img src="../../../assets/Images/profile.png" alt="profile-image"
                            class="notifyProfile" /></div>
                </div>
                <div class="notifyContent col">
                    <h1 class="h6 openSansBold">James Smith</h1>
                    <p class="text-muted">August 18, 2018 | 04:12 PM</p>
                    <p>Hey let's catch up soon. Do you want to grap lunch sometime this weekend? Let me know when you're
                        free!</p>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="col-3 col-sm-2 col-lg-2">
                    <div class="col"><img src="../../../assets/Images/profile.png" alt="profile-image"
                            class="notifyProfile" /></div>
                </div>
                <div class="notifyContent col">
                    <h1 class="h6 openSansBold">James Smith</h1>
                    <p class="text-muted">August 18, 2018 | 04:12 PM</p>
                    <p>Hey let's catch up soon. Do you want to grap lunch sometime this weekend? Let me know when you're
                        free!</p>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="col-3 col-sm-2 col-lg-2">
                    <div class="col"><img src="../../../assets/Images/profile.png" alt="profile-image"
                            class="notifyProfile" /></div>
                </div>
                <div class="notifyContent col">
                    <h1 class="h6 openSansBold">James Smith</h1>
                    <p class="text-muted">August 18, 2018 | 04:12 PM</p>
                    <p>Hey let's catch up soon. Do you want to grap lunch sometime this weekend? Let me know when you're
                        free!</p>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="col-3 col-sm-2 col-lg-2">
                    <div class="col"><img src="../../../assets/Images/profile.png" alt="profile-image"
                            class="notifyProfile" /></div>
                </div>
                <div class="notifyContent col">
                    <h1 class="h6 openSansBold">James Smith</h1>
                    <p class="text-muted">August 18, 2018 | 04:12 PM</p>
                    <p>Hey let's catch up soon. Do you want to grap lunch sometime this weekend? Let me know when you're
                        free!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="side-appbar" id="appListTxtCnt" data-simplebar>
    <div class="container-fluid">
        <div class="profile-menu profile-menu-toppad ">
            <div class="row notifyHeadPos">
                <div class="col notifyHead h3 d-flex justify-content-between">
                    <div class="d-flex align-items-center h4"><span class="toggle-bar-close"
                            onclick="closeSidebar();"></span> Notification</div>
                    <div class="d-flex align-items-center h4"><a href="#" class="text-right">more</a></div>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="col-3 col-sm-2 col-lg-2">
                    <div class="col"><img src="../../../assets/Images/profile.png" alt="profile-image"
                            class="notifyProfile" /></div>
                </div>
                <div class="notifyContent pl-3 col">
                    <h1 class="h6 openSansBold">James Smith</h1>
                    <p class="text-muted">August 18, 2018 | 04:12 PM</p>
                    <p>Hey let's catch up soon. Do you want to grap lunch sometime this weekend? Let me know when you're
                        free!</p>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="col-3 col-sm-2 col-lg-2">
                    <div class="col"><img src="../../../assets/Images/profile.png" alt="profile-image"
                            class="notifyProfile" /></div>
                </div>
                <div class="notifyContent col">
                    <h1 class="h6 openSansBold">James Smith</h1>
                    <p class="text-muted">August 18, 2018 | 04:12 PM</p>
                    <p>Hey let's catch up soon. Do you want to grap lunch sometime this weekend? Let me know when you're
                        free!</p>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="col-3 col-sm-2 col-lg-2">
                    <div class="col"><img src="../../../assets/Images/profile.png" alt="profile-image"
                            class="notifyProfile" /></div>
                </div>
                <div class="notifyContent col">
                    <h1 class="h6 openSansBold">James Smith</h1>
                    <p class="text-muted">August 18, 2018 | 04:12 PM</p>
                    <p>Hey let's catch up soon. Do you want to grap lunch sometime this weekend? Let me know when you're
                        free!</p>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="col-3 col-sm-2 col-lg-2">
                    <div class="col"><img src="../../../assets/Images/profile.png" alt="profile-image"
                            class="notifyProfile" /></div>
                </div>
                <div class="notifyContent col">
                    <h1 class="h6 openSansBold">James Smith</h1>
                    <p class="text-muted">August 18, 2018 | 04:12 PM</p>
                    <p>Hey let's catch up soon. Do you want to grap lunch sometime this weekend? Let me know when you're
                        free!</p>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="col-3 col-sm-2 col-lg-2">
                    <div class="col"><img src="../../../assets/Images/profile.png" alt="profile-image"
                            class="notifyProfile" /></div>
                </div>
                <div class="notifyContent col">
                    <h1 class="h6 openSansBold">James Smith</h1>
                    <p class="text-muted">August 18, 2018 | 04:12 PM</p>
                    <p>Hey let's catch up soon. Do you want to grap lunch sometime this weekend? Let me know when you're
                        free!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="side-appbar" id="aboutTxtCnt" data-simplebar>
    <div class="container-fluid">
        <div class="profile-menu">
            <span class="menuLink">Change Company</span>
            <a class="dropdown-item active" href="#">Zinc Corporation Ltd.,</a>
            <a class="dropdown-item" href="#">dambase</a>
            <a class="dropdown-item" href="#">plussunin</a>
            <a class="dropdown-item" href="#">J-Texon</a>
            <a class="dropdown-item menu-link text-right" href="#">more...</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item menu-link" href="#">My Profile</a>
            <a class="dropdown-item menu-link" href="#">Company Profile</a>
            <a class="dropdown-item menu-link" href="#">Change Password</a>
            <a class="dropdown-item menu-link" href="login.html">Logout</a>
        </div>
    </div>
</div> -->

<!-- <div id="page_overlay"></div> -->