<div class="header-class">
    <h5 class="sample-text">Project Details</h5>
    <img class="svg icon-24-w-edit" src="../../../assets/Images/UNAITO/Icon/edit.svg" />
</div>
<div class="row col-md-12">
    <div class="col-md-6">
        <div>
            <p class="assessment-label">Customer Name</p>
            <p class="assessment-input">Avantor</p>
        </div>
        <div>
            <p class="assessment-label">Project Name</p>
            <p class="assessment-input">Avantor-Cloud Readiness Assessment</p>
        </div>
        <div>
            <p class="assessment-label">Description</p>
            <p class="assessment-input">The company is struggling with the scalability
                of its infrastructure.</p>
        </div>

    </div>
    <div class="col-md-6">
        <div>
            <p class="assessment-label">Duration</p>
            <p class="assessment-input">4 Weeks <span class="assessment-label">(27 Jan
                    ’22 to 24 Feb ’22)</span></p>
        </div>
    </div>
</div>