<div class="page">
   

    <div class="page-content d-flex align-items-stretch">
        <app-left-side-bar></app-left-side-bar>
        <div class="content-inner dashboardContent">

            <!-- ==============          Dashboard  page          =================  -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 title-bar justify-content-between d-flex align-items-center">
                        <h2 class="page-title"><img class="svg" src="../../../assets/Images/UNAITO/Icon/left-arrow.svg" /> Add Scope
                        </h2>
                    </div>
                </div>
            </div>



            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="card col-md-7">

                        <div class="col-md-12">
                            <div class="business-drivers">
                                <h5>Functional Scope</h5>
                                <form>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Determine target cloud platform
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                        <label class="form-check-label" for="defaultCheck2">
                                            Application Fitment & Readiness assess
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                        <label class="form-check-label" for="defaultCheck3">
                                            Security
                                        </label>
                                    </div>
                                    <div class="row col-md-12">
                                        <div class="form-check ml-5">
                                            <input class="form-check-input" type="radio" value="" id="defaultCheck10">
                                            <label class="form-check-label" for="defaultCheck10">
                                                Highlevel
                                            </label>
                                        </div>
                                        <div class="form-check ml-5">
                                            <input class="form-check-input" type="radio" value="" id="defaultCheck11">
                                            <label class="form-check-label" for="defaultCheck11">
                                                Detail
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck15">
                                        <label class="form-check-label" for="defaultCheck15">
                                            Risk
                                        </label>
                                    </div>
                                    <div class="row col-md-12">
                                        <div class="form-check ml-5">
                                            <input class="form-check-input" type="radio" value="" id="defaultCheck10">
                                            <label class="form-check-label" for="defaultCheck10">
                                                Highlevel
                                            </label>
                                        </div>
                                        <div class="form-check ml-5">
                                            <input class="form-check-input" type="radio" value="" id="defaultCheck11">
                                            <label class="form-check-label" for="defaultCheck11">
                                                Detail
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                                        <label class="form-check-label" for="defaultCheck4">
                                            To be state architecture
                                        </label>
                                    </div>


                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                                        <label class="form-check-label" for="defaultCheck5">
                                            Migration plan
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                                        <label class="form-check-label" for="defaultCheck6">
                                            Total cost of ownership
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                                        <label class="form-check-label" for="defaultCheck7">
                                            ROI calculation
                                        </label>
                                    </div>
                                    <h5 class=" mt-3 pt-4 mb-2 it-drivers">Quantitative Scope</h5>
                                    <div class="row col-md-12 zeropadding">
                                        <div class="col-md-4 mt-3">
                                            <div class="form-group">
                                                <label for="">Legal Entities
                                                </label>
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-3">
                                            <div class="form-group">
                                                <label for="">Business Unit
                                                </label>
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-3">
                                            <div class="form-group">
                                                <label for="">Applications
                                                </label>
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-12 zeropadding">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Databases
                                                </label>
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Servers
                                                </label>
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Locations
                                                </label>
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>

                                    <a href="avantor-cloud-readiness-assessment-2.html"
                                        class="btn btn-primary create-btn mt-3">Add</a>
                                    <button type="submit" class="btn cancel-btn create-btn mt-3">Cancel</button>
                                </form>
                            </div>

                        </div>





                    </div>
                </div>
            </div>
            <!-- ==============          Dashboard  page          =================  -->
        </div>
    </div>
</div>